<div class="row">
  <div class="col-2">
    <input type="file" (change)="inputFile($event)" accept=".pdf" multiple />
    <button type="button" class="btn btn-primary" (click)="previousPage()">
      -
    </button>
    {{ pageNumber + "/" + totalPages }}
    <button type="button" class="btn btn-primary" (click)="nextPage()">
      +
    </button>
  </div>
  <div class="col-8">
    <div id="outerContainer">
      <div class="pdf-container">
        <pdf-viewer
          [src]="src"
          [rotation]="0"
          [original-size]="false"
          [show-all]="true"
          [fit-to-page]="false"
          [zoom]="1"
          [zoom-scale]="'page-width'"
          [stick-to-page]="false"
          [render-text]="true"
          [external-link-target]="'blank'"
          [autoresize]="true"
          [show-borders]="true"
          style="width: 100%; height: 600px"
          (after-load-complete)="afterLoadComplete($event)"
          [page]="pageNumber"
          (pageChange)="pageChange($event)"
        ></pdf-viewer>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="accordion" id="accordionExample">
      <div *ngFor="let x of files; let i = index" class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#item' + i"
            aria-expanded="false"
            (click)="fileChange(i)"
          >
            {{ x.name }}
          </button>
        </h2>
        <div
          [id]="'item' + i"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <div *ngIf="choice == i" class="page-item" #item></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
